@using EasyIdentityGenerator.Data.Models
@using EasyIdentityGenerator.Data.Services.Interfaces
@inject IIdentityGenerator IdentityGenerator

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        <button class="btn btn-info" @onclick="@GenerateIdentityUser">Click here</button>
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<ApplicationUser> ValueChanged { get; set; }

    [Parameter]
    public ApplicationUser Value { get; set; }

    private async Task GenerateIdentityUser()
    {
        Value = await IdentityGenerator.GenerateUser();
        await ValueChanged.InvokeAsync(Value);
    }
}
